# Tables

John Curtin

Need to code out some examples of making tables using kableExtra and built in data

In [ ]:
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.0     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

Attaching package: 'kableExtra'

The following object is masked from 'package:dplyr':

    group_rows

In [ ]:

kbl(mtcars[1:10, 1:5]) |>
  kable_styling(bootstrap_options = "striped", full_width = F, position = "float_right") |>
  kable_styling(fixed_thead = T) |>
  add_header_above(c(" " = 1, "Group 1" = 2, "Group 2" = 2, "Group 3" = 1))

In [ ]:
knitr::kable(mtcars[1:2, 1:2], table.attr = "class=\"striped\"",
  format = "html")

,mpg,cyl
Mazda RX4,21,6
Mazda RX4 Wag,21,6